#mynameh1 {
    background-color: #4aaaa5;
    height: 50px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 20px;
  }

  .myname2 {
    background-color: #4aaaa5;
    height: 50px;
    width: 16%;
    margin: auto;
    color: white;
    text-align: center;
  }

#aboutsection {
  margin-left: 1px;
  margin-right: 10px;
  height: 470px;
  width: 960px;
  background-color: white;
  }

#abouttitle {
  color: #4aaaa5;
  height: 70px;
  width: 100%;
  padding-top: 40px;
  margin-top: 10px;
  background-color: white;
  border-bottom: 2px solid grey;
  display: inline-block;
  line-height: 0.85;
  }

  #atitle {
    margin: auto;
  }

  #atitle1{
    color: #4aaaa5;
    height: 43px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid grey;
    display: inline-block;
    line-height: 0.85;
    margin-bottom: 10px;
  }

  #Profilepic {
    height: 100px;
    width: 150px;
    float: left;
    padding-right: 5px;
  }

  #p1 {
    margin-right: 20%;
    line-height: 20px;
  }

  #p2 {
    margin-right: 20%;
    line-height: 20px;
  }

  #p3 {
    margin-right: 20%;
    line-height: 20px;
  }

  #p4 {
    margin-right: 20%;
  }

  body {
    background-image: url('../images/gravel.png');
    border-color: white;
  }

  .tablinks1 {
    position: fixed;
    top: 9%;
    left: 65%;
    width: 60px;
    height: 15px;
    color: black;
    border-right: 2px solid black;
    display: inline-block;
    line-height: 0.85;
    text-decoration: none;
  }

  .tablinks2 {
    position: fixed;
    top: 9%;
    left: 70%;
    width: 60px;
    height: 15px;
    color: black;
    border-right: 2px solid black;
    display: inline-block;
    line-height: 0.85;
    text-decoration: none;
  }

  .tablinks3 {
    position: fixed;
    top: 9%;
    left: 75%;
    width: 60px;
    height: 15px;
    color: black;
    display: inline-block;
    line-height: 0.85;
    text-decoration: none;
  }

  footer{
    background-color: black;
    border-top: 8px solid #4aaaa5;
    display: inline-block;
    line-height: 0.85;
    color: white;
    text-align: center;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: purple;
    color: pink;
  }
 #formdiv{
  margin-top: 10px;
  height: 100%;
 }

  #form {
    border-radius: 5px;
    background-color: white;
    padding: 60px;
    height: 100%;
    margin-left: 2%;
  }

  .container {
    width: 100%;
    height: 90px;
    background-color: white;
  }

  #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
  }

  #abouttitle {
    color: #4aaaa5;
    height: 70px;
    width: 100%;
    padding-top: 40px;
    margin-top: 10px;
    background-color: white;
    border-bottom: 2px solid grey;
    display: inline-block;
    line-height: 0.85;
  }

  #picdiv{
    margin-left: 160px;
    margin-top: 10px;
  }

  #business {
    width: 150px;
    height: 160px;
    margin-right: 50px;
  }

  #portfoliosection {
    margin-left: 1px;
    margin-right: 10px;
    height: 470px;
    width: 960px;
    background-color: white;
    }

    #sports {
      width: 150px;
      height: 160px;
      margin-right: 50px;
    }

    #food {
      width: 150px;
      height: 160px;
    }

    #technics {
      width: 150px;
      height: 160px;
      margin-right: 50px;
    }

    #fun {
      width: 150px;
      height: 160px;
    }

    #trabbit {
      width: 150px;
      height: 160px;
    }

    #bottom-left1 {
      background-color: #4aaaa5;
      width: 15.6%;
      height: 6%;
      text-align: center;
      color: white;
      font-family: 'Srisakdi', cursive;
      margin-right: 75px;
    }

    #bottom-left2 {
      background-color: #4aaaa5;
      width: 15.6%;
      height: 6%;
      text-align: center;
      color: white;
      font-family: 'Srisakdi', cursive;
      margin-right: 72px;
    }

    #bottom-left3 {
      background-color: #4aaaa5;
      width: 15.6%;
      height: 6%;
      text-align: center;
      color: white;
      font-family: 'Srisakdi', cursive;
      margin-right: 50px;
      
    }

    #bottom-left4 {
      background-color: #4aaaa5;
      width: 15.6%;
      height: 6%;
      text-align: center;
      color: white;
      font-family: 'Srisakdi', cursive;
      margin-right: 75px;
    }

    #bottom-left5 {
      background-color: #4aaaa5;
      width: 15.6%;
      height: 6%;
      text-align: center;
      color: white;
      font-family: 'Srisakdi', cursive;
    }

    